body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
      'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
      sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background-color: #9bb3e4;
    color: white;
  
  }
  p,.section{
    font-size: 30px;
  }
  span{
    font-size: 18px;
  }
.right{
    float: right;
}
.left{
    float: left;
}
.container{
    background-color: rgb(10, 61, 104);
    border-radius: 25px;
    width: 55%;
    margin: auto;
    margin-top: 15vh;
}
#btn{
    border: 4px solid rgb(29, 105, 146);
    color: white;
    border-radius: 15px;
}
button:hover{
    background-color: #7b8fb9;
}
#res{
    font-size: 30px;
    text-align: center;
}


  